# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Node / Next.js (stack planejada para o RT PayFlow)
node_modules/
.next/
out/
dist/
build/

# Env / secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Supabase local
.supabase/
